<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cdboost.charge.merchant.dao.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.cdboost.charge.merchant.model.CustomerInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_guid" jdbcType="VARCHAR" property="merchantGuid" />
    <result column="customer_guid" jdbcType="CHAR" property="customerGuid" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_contact" jdbcType="VARCHAR" property="customerContact" />
    <result column="is_receive_sms" jdbcType="INTEGER" property="isReceiveSms" />
    <result column="webchar_no" jdbcType="VARCHAR" property="webcharNo" />
    <result column="alipay_user_id" jdbcType="VARCHAR" property="alipayUserId" />
    <result column="alipay_nick_name" jdbcType="VARCHAR" property="alipayNickName" />
    <result column="car_category" jdbcType="INTEGER" property="carCategory" />
    <result column="car_power" jdbcType="INTEGER" property="carPower" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="customer_state" jdbcType="INTEGER" property="customerState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>